In [2]:
import re
import pymysql
import pandas as pd

In [5]:
ip=["192.168.21.0/24" , "172.194.172.1/24"]
db=pymysql.connect(host="192.168.21.95",user="root",database="atul", password="Sattrix@123")
cur=db.cursor()
for i in ip:
    ip_subnet=i.rfind('.')
    slash=i.rfind('/')
    pattern=r"(?:({}.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))".format(i[:ip_subnet])
    print(pattern)
#     cur.execute('''insert into subnetMapping (Department_Name, End_IP , IP_Subnet, Start_IP , CustomerName , regex) values
#         ('Python', '{}' ,'{}','{}',"SATTRIX",'{}' )'''.format(i[:ip_subnet]+'.254',i,i[:ip_subnet]+i[ip_subnet:slash], pattern ))
db.commit()

(?:(192.168.21.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))
(?:(172.194.172.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))

In [12]:
d=int(i[(slash)+1:])

In [13]:
d==24

True

In [15]:
ip=["192.168.21.0/24" , "172.194.172.1/23"]
db=pymysql.connect(host="192.168.21.95",user="root",database="atul", password="Sattrix@123")
cur=db.cursor()
for i in ip:
    ip_subnet=i.rfind('.')
    slash=i.rfind('/')
    subnet_end=int(i[(slash)+1:])
    if subnet_end==24:
        pattern=r"(?:({}.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))".format(i[:ip_subnet])
        print(pattern)
    #     cur.execute('''insert into subnetMapping (Department_Name, End_IP , IP_Subnet, Start_IP , CustomerName , regex) values
    #         ('Python', '{}' ,'{}','{}',"SATTRIX",'{}' )'''.format(i[:ip_subnet]+'.254',i,i[:ip_subnet]+i[ip_subnet:slash], pattern ))
    if subnet_end==23:
        print("pass")
    db.commit()

(?:(192.168.21.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))
pass

In [21]:
pattern=r"(?:(192.168.21.([0-9]|[1-9][0-9]|[1][0-1][0-9]|2[0-2][0-6])+))"
li="192.168.21.120"
re.findall(pattern,li)

[('192.168.21.120', '0')]

In [27]:
#128 25
pattern=r"(?:(192.168.21.(12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.240"
re.findall(pattern,li)

[('192.168.21.128', '128'), ('192.168.21.240', '240')]

In [28]:
#192 26
pattern=r"(?:(192.168.21.(19[2-9]|2[0-4][0-9]|25[0-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.240"
re.findall(pattern,li)

[('192.168.21.240', '240')]

In [29]:
#224 27
pattern=r"(?:(192.168.21.(22[4-9]|2[3-4][0-9]|25[0-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.240"
re.findall(pattern,li)

[('192.168.21.240', '240')]

In [30]:
#240 28
pattern=r"(?:(192.168.21.(2[4][0-9]|25[0-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.240"
re.findall(pattern,li)

[('192.168.21.240', '240')]

In [34]:
#248 29
pattern=r"(?:(192.168.21.(2[4][8-9]|25[0-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.240 192.168.21.248 192.168.21.25"
re.findall(pattern,li)

[('192.168.21.248', '248')]

In [141]:
#252 30
pattern=r"(?:(192.168.21.(25[2-4])+))"
li="192.168.21.120 , 192.168.21.128 , 192.168.21.254, 192.168.21.253"
x=re.findall(pattern,li)
print(x)

['192.168.21.120 , 192.168.21.128 , ', '192.168.21.254', '254', ', ', '192.168.21.253', '253', '']

In [35]:
ip=["192.168.21.0/24","192.168.21.0/26","172.168.20.0/29"]
data=pd.DataFrame()
for i in ip:
    ip_subnet=i.rfind('.')
    slash=i.rfind('/')
    subnet_end=int(i[(slash)+1:])
    if subnet_end==24:
        pattern=r"(?:({}.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))".format(i[:ip_subnet])
        print("1",pattern)
        dataframe=[{
            "Department_Name":"Python",
            "End_IP":i[:ip_subnet]+'.254',
            "IP_Subnet":i,
            "Start_IP":i[:ip_subnet]+'.0',
            "CustomerName":"SATTRIX",
            "regex":pattern
        }]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
    if subnet_end==25:
        pattern=r"(?:({}.(12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.128',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("2",pattern)
    if subnet_end==26:
        pattern=r"(?:({}.(19[2-9]|2[0-4][0-9]|25[0-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.192',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("3",pattern)
    if subnet_end==27:
        pattern=r"(?:({}.(22[4-9]|2[3-4][0-9]|25[0-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.224',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("4",pattern)
    if subnet_end==28:
        pattern=r"(?:({}.(2[4][0-9]|25[0-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.240',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("5",pattern)
    if subnet_end==29:
        pattern=r"(?:({}.(2[4][8-9]|25[0-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.248',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("6",pattern)
    if subnet_end==30:
        pattern=r"(?:({}.(25[2-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.252',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data] , ignore_index=True)
        print("7",pattern)

1 (?:(192.168.21.([0-9]|[1-9][1-9]|1[0-9][0-9]|2[0-5][0-4])+))
3 (?:(192.168.21.(19[2-9]|2[0-4][0-9]|25[0-4])+))
6 (?:(172.168.20.(2[4][8-9]|25[0-4])+))

In [90]:
# data=pd.DataFrame(index=[0,1,2])

In [36]:
data

,Department_Name,End_IP,IP_Subnet,Start_IP,CustomerName,regex
0,Python,172.168.20.254,172.168.20.0/29,172.168.20.248,SATTRIX,(?:(172.168.20.(2[4][8-9]|25[0-4])+))
1,Python,192.168.21.254,192.168.21.0/26,192.168.21.192,SATTRIX,(?:(192.168.21.(19[2-9]|2[0-4][0-9]|25[0-4])+))
2,Python,192.168.21.254,192.168.21.0/24,192.168.21.0,SATTRIX,(?:(192.168.21.([0-9]|[1-9][1-9]|1[0-9][0-9]|2...

In [68]:
dataframe=[
    {
        "Department_Name":"Python",
        "End_IP":i[:ip_subnet]+'.254',
        "IP_Subnet":i,
        "Start_IP":i[:ip_subnet]+i[ip_subnet:slash],
        "CustomerName":"SATTRIX",
        "regex":pattern
    }
]

In [69]:
pd.DataFrame(dataframe)

,Department_Name,End_IP,IP_Subnet,Start_IP,CustomerName,regex
0,Python,192.168.21.254,192.168.21.0/28,192.168.21.0,SATTRIX,(?:(192.168.21.(2[4][0-9]|25[0-4])+))

In [110]:
pattern=r"^(192\.168\.(?:[0-9]|1[0-9]|2[0-9]|3[01])\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$"
li="192.168.25.10"
re.findall(pattern,li)

['192.168.25.10']

In [113]:
pattern=r"^91\.228\.(?:[0-3][0-9]{2}|3[01]{1})\.[0-9]{1,2}$"
li="91.228.24,50"
re.findall(pattern,li)

[]

In [114]:
pattern=re.compile(r"192.168.+[0-31]+.[0-24]+")
text="hello this is IP Address 192.168.21.6  192.168.24.21 this is the new think for user 192.168.21.9"
data=pattern.findall(text)
print(data)

['192.168.21.6  192.168.24.21 this is the new think for user 192.1']

In [136]:
pattern="(^(192\.168\.21\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$)"
li="192.168.21.20"
re.findall(pattern,li)

[('192.168.21.20', '192.168.21.20')]

In [148]:
pattern="^(192\.168\.21\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4])$)"
li="192.168.21.20 192.168.21.26"
re.findall(pattern,li)

[]

In [163]:
pattern=r"^(192\.168\.21\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))"
li="hello this is IP Address 192.168.21.6  192.168.24.21 this is the new think for user 192.168.21.9 192.168.21.20 192.168.21.26"
re.findall(pattern,li)

[]

In [37]:
pattern=r"^(192\.168\.21\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|[2][5][0-4])+)"
li="192.168.21.654 , 192.168.21.25"
x=re.findall(pattern,data)
print(x)

TypeError: expected string or bytes-like object

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
pattern=r"(?:([1][9][2]\.[1][6][8]\.[2][1].12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4])+)"
li="192.168.21.120,192.168.21.128,192.168.21.240"
re.findall(pattern,li)

['192', '168', '192.168.21.128', '192', '168', '240']

In [50]:
pattern=r"(?:(192\.168\.21\.(12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4])+))"
li="192.168.21.120,192.168.21.128,192.168.21.240"
re.findall(pattern,li)

[('192.168.21.128', '128'), ('192.168.21.240', '240')]

In [63]:
pattern=r"\b(192.168)\.(?:[25][0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])$"
li="192.168.251.240"
re.findall(pattern,li)

[]

In [76]:
pattern=r"(\b192\.168\.21\.(25[0-4]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b)+"
li='192.168.21.240 , 192.168.21.26'
re.findall(pattern,li)

[('192.168.21.240', '240'), ('192.168.21.26', '26')]

In [77]:
import pandas as pd

# Sample DataFrame with 'ip_address' column
data = {'ip_address': ['192.168.21.5', '192.168.21.100', '192.168.21.255', '192.168.22.10']}
df = pd.DataFrame(data)

# Regex pattern
pattern = r'^192\.168\.21\.(25[0-4]|2[0-4][0-9]|[01]?[0-9][0-9]?)$'

# Filter DataFrame using regex
filtered_df = df[df['ip_address'].str.match(pattern)]

print(filtered_df)

       ip_address
0    192.168.21.5
1  192.168.21.100

In [91]:
# pattern = r'^192\.168\.21\.(25[0-4]|2[0-4][0-9]|[01]?[0-9][0-9]?)$'
pattern=r"(?:(172.168.20.(2[4][8-9]|25[0-4])+))"
pattern="(?:(192.168.21.(19[2-9]|2[0-4][0-9]|25[0-4])+))"
li='192.168.21.240 ,172.168.20.250, 192.168.21.241'
x=re.findall(pattern,li)
print(x)

[('192.168.21.240', '240'), ('192.168.21.241', '241')]

In [96]:
pattern=r"ra[h-l][u-v][k-p]"
text="rahul rohan raivl"
re.findall(pattern,text)

['rahul', 'raivl']

In [101]:
pattern=r"192.168.21.[1-9].[2-8]"
text="rahul rpattern=r"192.168.21.[0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4]"
text='192.168.21.135, 192.168.21.241'
re.findall(pattern,text)ohan raivl 192.168.21.4.6 192.168.21.9.3"
re.findall(pattern,text)

['192.168.21.4.6', '192.168.21.9.3']

In [104]:
pattern=r"192.168.21.[0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4]"
text='192.168.21.135, 192.168.21.241'
re.findall(pattern,text)

['192.168.21.1', '35', '192.168.21.2', '41']

In [132]:
pattern=r"192.168.21.[0-2][0-9][0-9]{0-3}"
text='192.168.21.135, 192.168.21.241, 192.168.21.58'
re.findall(pattern,text)

[]

In [133]:
df=pd.read_csv("demo_inci1.csv")
from pandasql import sqldf
data2=sqldf('''select * from df where src regexp "(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).([0-9]|1[0-9]|2[0-4])$))" ''')
data2

,Unnamed: 0,Category,CreatedOn,src,dst
0,24,attack_categor,2023-07-04 12:34:31,192.168.6.2,184.26.161.66
1,124,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
2,137,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
3,138,attack_categor,2023-07-04 12:34:31,192.168.6.2,162.159.24.11
4,220,attack_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
5,226,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
6,233,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
7,248,anonymizer_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
8,262,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
9,309,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
10,327,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4

In [134]:
df

,Unnamed: 0,Category,CreatedOn,src,dst
0,0,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
1,1,anonymizer_categor,2023-07-04 12:34:31,192.168.5.51,52.113.195.132
2,2,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
3,3,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
4,4,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
...,...,...,...,...,...
395,395,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [135]:
df['src']

0        45.112.178.18
1         192.168.5.51
2        45.112.178.18
3        45.112.178.18
4        45.112.178.18
            ...
395       192.168.8.54
396    202.173.125.252
397    202.173.125.252
398    202.173.125.252
399    202.173.125.252
Name: src, Length: 400, dtype: object

In [137]:
pattern=r"^(172\.16\.(20|200|100)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$"
re.findall(pattern,df['src'])

TypeError: expected string or bytes-like object

In [162]:
data=sqldf('''select * from df where src regexp "^(192\.168\.(?:[0-4]|[679]|1(?:[0]|[6-9])|2(?:[01]|[34]|[7-9])|3[014]|40|60|11[13]|13[12]|145)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$" ''')

In [163]:
data

,Unnamed: 0,Category,CreatedOn,src,dst
0,9,anonymizer_categor,2023-07-04 12:34:31,192.168.21.95,117.18.232.200
1,24,attack_categor,2023-07-04 12:34:31,192.168.6.2,184.26.161.66
2,36,anonymizer_categor,2023-07-04 12:34:31,192.168.30.99,52.113.195.132
3,89,anonymizer_categor,2023-07-04 12:34:31,192.168.30.138,52.113.195.132
4,95,anonymizer_categor,2023-07-04 12:34:31,192.168.30.99,52.113.195.132
5,124,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
6,137,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
7,138,attack_categor,2023-07-04 12:34:31,192.168.6.2,162.159.24.11
8,220,attack_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
9,226,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
10,233,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
11,248,anonymizer_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
12,262,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
13,309,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
14,327,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4

In [160]:
pattern="^(192\.168\.(?:[0-4]|[679]|1(?:[0]|[6-9])|2(?:[01]|[34]|[7-9])|3[014]|40|60|11[13]|13[12]|145)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$"
text=df['src']

In [161]:
re.findall(pattern,text)

TypeError: expected string or bytes-like object

In [164]:
pattern='''^(192\.168\.(?:[0-4]|[679]|1(?:[0]|[6-9])|2(?:[01]|[34]|[7-9])|3[014]|40|60|11[13]|13[12]|145)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$'''

In [ ]:
print ("After applying ", regex, " DataFrame is:\n", df[df.name.str.match(regex)])

In [165]:
print(df[df.src.str.match(pattern)])

     Unnamed: 0            Category            CreatedOn             src  \
9             9  anonymizer_categor  2023-07-04 12:34:31   192.168.21.95
24           24      attack_categor  2023-07-04 12:34:31     192.168.6.2
36           36  anonymizer_categor  2023-07-04 12:34:31   192.168.30.99
89           89  anonymizer_categor  2023-07-04 12:34:31  192.168.30.138
95           95  anonymizer_categor  2023-07-04 12:34:31   192.168.30.99
124         124      attack_categor  2023-07-04 12:34:31     192.168.6.2
137         137      attack_categor  2023-07-04 12:34:31     192.168.6.2
138         138      attack_categor  2023-07-04 12:34:31     192.168.6.2
220         220      attack_categor  2023-07-04 12:34:31     192.168.6.2
226         226      attack_categor  2023-07-04 12:34:31     192.168.6.2
233         233      attack_categor  2023-07-04 12:34:31     192.168.6.2
248         248  anonymizer_categor  2023-07-04 12:34:31     192.168.6.2
262         262      attack_categor  2023-07-04 12:34:31     192.168.6.2
309         309      attack_categor  2023-07-04 12:34:31     192.168.6.2
327         327      attack_categor  2023-07-04 12:34:31     192.168.6.2

                dst
9    117.18.232.200
24    184.26.161.66
36   52.113.195.132
89   52.113.195.132
95   52.113.195.132
124     13.107.42.1
137     13.107.42.1
138   162.159.24.11
220  217.13.106.203
226    208.80.125.4
233    208.80.125.4
248  217.13.106.203
262    208.80.125.4
309    208.80.125.4
327    208.80.125.4

In [166]:
df

,Unnamed: 0,Category,CreatedOn,src,dst
0,0,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
1,1,anonymizer_categor,2023-07-04 12:34:31,192.168.5.51,52.113.195.132
2,2,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
3,3,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
4,4,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
...,...,...,...,...,...
395,395,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [1]:
pattern='''^(192\.168\.(?:[0-4]|[679]|1(?:[0]|[6-9])|2(?:[01]|[34]|[7-9])|3[014]|40|60|11[13]|13[12]|145)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$'''