In [5]:
from smtplib import *
from pretty_html_table import build_table 
from email.message import EmailMessage
import pymysql
import pandas as pd

In [10]:
sender="nareshsisodiya1996@gmail.com"
rec='jyoti_pradhan@sattrixsoftware.com'
password='yszbenixyrdrioei'
conn=pymysql.connect(host="192.168.21.95", user="test", password="Sattrix@123", database="Trainings")
d=pd.read_sql("select * from SMPT",conn)
d=pd.DataFrame(d)
d=build_table(d,'blue_light')

msg=EmailMessage()
msg['from']=sender
msg['to']=rec
msg['subject']="Sattrix Family"
body="Hi this is logs data {} Thanks And Regard".format(d)
msg.set_content(body, subtype='html')

server=SMTP('smtp.gmail.com',587)
server.starttls()
server.login(sender,password)
server.send_message(msg)

C:\Users\naresh_kumar\AppData\Local\Temp\ipykernel_2372\3770546316.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  d=pd.read_sql("select * from SMPT",conn)

{}

In [11]:
d=pd.read_sql("select * from SMPT",conn)
d=pd.DataFrame(d)

C:\Users\naresh_kumar\AppData\Local\Temp\ipykernel_2372\2229965488.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  d=pd.read_sql("select * from SMPT",conn)

In [12]:
d

   YesterdayDate  Hour customerName  TotalCount
0     2023-07-03     1          HSC        8560
1     2023-07-03     2          HSC        3735
2     2023-07-03    10          HSC       46813
3     2023-07-03    11          HSC      247367
4     2023-07-03    12          HSC      350333
5     2023-07-03    13          HSC      218506
6     2023-07-03    14          HSC      191215
7     2023-07-03    15          HSC      372927
8     2023-07-03    16          HSC      282761
9     2023-07-03    17          HSC      249377
10    2023-07-03    18          HSC      218131
11    2023-07-03    19          HSC      363678
12    2023-07-03    20          HSC      337061
13    2023-07-03    21          HSC      308083
14    2023-07-03    22          HSC      263858
15    2023-07-03    23          HSC      264809

In [13]:
sender="nareshsisodiya1996@gmail.com"
rec='jyoti_pradhan@sattrixsoftware.com'
password='yszbenixyrdrioei'
conn=pymysql.connect(host="192.168.21.95", user="test", password="Sattrix@123", database="Trainings")
d=pd.read_sql("select * from SMPT",conn)
d=pd.DataFrame(d)
d=build_table(d,'blue_light')

msg=EmailMessage()
msg['from']=sender
msg['to']=rec
msg['subject']="Sattrix Family"
body="Hi this is logs data {} Thanks And Regard".format(d)
msg.set_content(body, subtype='html')

server=SMTP('smtp.gmail.com',587)
server.starttls()
server.login(sender,password)
server.send_message(msg)

C:\Users\naresh_kumar\AppData\Local\Temp\ipykernel_2372\3770546316.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  d=pd.read_sql("select * from SMPT",conn)

{}

In [ ]:
sender="nareshsisodiya1996@gmail.com"
rec="naresh_kumar@sattrixsoftware.com"
password='yszbenixyrdrioei'
subject="Python"

conn=pymysql.connect(host="192.168.21.95", user="test", password="Sattrix@123", database="Trainings")
d=pd.read_sql("select * from SMPT",conn)
d=pd.DataFrame(d)
# d=build_table(d,"blue_light")

msg=EmailMessage()
msg['From']=sender
msg['To']=rec
msg['Subject']=subject
email_body='''\t hy this is data table for Logs {} Thanks And Regard Naresh Kumar'''.format(build_table(d,'blue_light'))
msg.set_content(email_body, subtype="html")
 
server=SMTP("smtp.gmail.com",587)
server.starttls()
server.login(sender,password)

server.send_message(msg)

In [15]:
for i in range(3):
    d=-1
    print(i)
    d+=2

0
1
2

In [16]:
matrix = [[-2,  5,  3,  2],
          [ 9, -6,  5,  1],
          [ 3,  2,  7,  3],
          [-1,  8, -4,  8]]

In [29]:
d=1
for i in matrix:
    print(i[-d])
    d+=1

2
5
2
-1

In [21]:
d

0

In [22]:
-1+1

0

In [30]:
df=pd.read_csv("demo_inci1.csv")

In [31]:
df

,Unnamed: 0,Category,CreatedOn,src,dst
0,0,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
1,1,anonymizer_categor,2023-07-04 12:34:31,192.168.5.51,52.113.195.132
2,2,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
3,3,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
4,4,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
...,...,...,...,...,...
395,395,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [32]:
from pandasql import sqldf

In [39]:
data=sqldf('''select * from df where src regexp '^192\.168\.(?:25[0-5])\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4])$' ''')

In [38]:
data2=sqldf('''select * from df where src regexp "(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).([0-9]|1[0-9]|2[0-4])$))" ''')

In [40]:
data

Empty DataFrame
Columns: [Unnamed: 0, Category, CreatedOn, src, dst]
Index: []

In [41]:
data2

,Unnamed: 0,Category,CreatedOn,src,dst
0,24,attack_categor,2023-07-04 12:34:31,192.168.6.2,184.26.161.66
1,124,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
2,137,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
3,138,attack_categor,2023-07-04 12:34:31,192.168.6.2,162.159.24.11
4,220,attack_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
5,226,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
6,233,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
7,248,anonymizer_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
8,262,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
9,309,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
10,327,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4

In [50]:
matrix = [[-2,  5,  3],
          [ 9, -6,  5],
          [ 3,  2,  7]]

d=1
g=0
for i in matrix:
#     print(i[-d])
    g+=i[-d]
    d+=1
print(g)
d=0
l=0
for i in matrix:
#     print(i[d])
    l+=i[d]
    d+=1
print(l)
print("l-g =",l-g)
print("g-l =",g-l)

0
-1
l-g = -1
g-l = 1

In [51]:
import re

In [74]:
# pattern=r"n|N[a-f][m-v][a-f][m-u][f-l]+"
pattern="[n|k]+[a-z]+"
text="naresh kailash rahul this is demo for find name startswith "
x=re.findall(pattern,text)
print(x)

['naresh', 'kailash']

In [76]:
(3/6)*100

50.0

In [77]:
3/6

0.5

In [78]:
10/50

0.2

In [79]:
10/50*100

20.0

In [80]:
1.00000
100.00

100.0

In [115]:
for i in range(1,6+1):
    print(' '*(6-i)+'#'*i)

     #
    ##
   ###
  ####
 #####
######

In [390]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern=r"\b (8|9+([0-6])+([1-5]+))\b"
# pattern=r" "
x=re.findall(pattern,text)
print(x)

[]

In [391]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern=r"\b(^([1-9])([0-6]+))\b"
# pattern=r" "
x=re.findall(pattern,text)
print(x)

[]

In [392]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern=r"?:(8|9([0-6]+[0-9]+[0-5$]))"
# pattern=r" "
x=re.findall(pattern,text)
print(x)

error: nothing to repeat at position 0

In [393]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern=r"?:(^8|9+([0-6]+[0-9]+[0-5$]))"
# pattern=r" "
x=re.findall(pattern,text)
print(x)

error: nothing to repeat at position 0

In [394]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern="^8+[0-9]+"
x=re.finditer(pattern,text)
print(x)

<callable_iterator object at 0x000002044A04A7A0>

In [395]:
for i in x:
    print(i)

<re.Match object; span=(0, 10), match='8754512151'>

In [396]:
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
pattern="8+[0-9]+"
x=re.findall(pattern,text)
print(x)

['8754512151', '86568515', '83482226', '848', '82136', '854303299']

In [397]:
pattern=r"^t+[a-z,A-Z]+"
text="hello this is dtmo ti"
x=re.findall(pattern,text)
print(x)

[]

In [398]:
pattern=r"((9([0-9]+)))"
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
x=re.findall(pattern,text)
print(x)

[('986568515', '986568515', '86568515'), ('9983482226', '9983482226', '983482226'), ('9651034848', '9651034848', '651034848'), ('99', '99', '9')]

In [399]:
d="dog bite man"

In [400]:
"man bite dog"

'man bite dog'

In [401]:
d[::-1]

'nam etib god'

In [402]:
d="dog bite man"
f=d.split(' ')[::-1]
d=' '.join(f)
d

'man bite dog'

In [403]:
d=' '.join(f)
d

'man bite dog'

In [404]:
a=f.reverse()

In [405]:
print(a)

None

In [406]:
f=12562362

In [407]:
fd=str(f)[::-1]

In [408]:
fd

'26326521'

In [409]:
int(fd)

26326521

In [410]:
d="dog bite man"

In [411]:
f=d.split(' ')

In [321]:
l=[]
for i in f:
    l.append(i)
#     print(l)
k=l.reverse()
k

In [322]:
print(k)

None

In [310]:
print(dir(f))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [344]:
pattern=r"\d{1}(^8?)\d{8}"
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
x=re.findall(pattern,text)
print(x)

[]

In [ ]:
/^4(0|1|3)[0-9]{6}$/

In [372]:
pattern=r"\b(^8[0|1|2]+[0-9]$)\b"
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
x=re.findall(pattern,text)
print(x)

[]

In [379]:
pattern=r"(^8[0-9]+)"
text="8754512151 986568515 9983482226 9651034848 1236482136 7854303299"
x=re.findall(pattern,text)
print(x)

['8003523012']

In [383]:
n=8
for i in range(n):
    if i%2==1:
        print(" "*((n//2)-i), "H"*i)

width=10
for i in range(n):
    print(("H"*n).ljust(width," "),("H"*n).rjust(width," "))
#     print(("H"*5).rjust(width," "))
for i in range(n):
    print("H"*(n*3))
for i in range(n):
    print(("H"*n).ljust(width," "),("H"*n).rjust(width," "))

    H
  HHH
 HHHHH
 HHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH
HHHHHHHH     HHHHHHHH

In [417]:
pattern=r"^[8|9]+[0-9]+"
text="8754512151 986568515 9983482226 9651034848 1236482136 854303299"
x=re.findall(pattern,text)
print(x)

['8754512151']

In [418]:
def mid(x):
    d=len(x)
    if d%2==1:
        g=(d//2)
        return x[g]
    else:
        return ""

In [419]:
def random_number():
    import random
    d=random.randint(1,100)
    return d

In [442]:
def only_ints(x,y):
    try:
        if x==int(x) and y==int(y):
            return True
    except:
        return False

In [443]:
only_ints(12,'a')

False

In [455]:
only_ints(12,True)

False

In [457]:
only_ints(True,True)

False

In [446]:
int(True)

1

In [448]:
x=5

In [449]:
type(x)

int

In [450]:
type(True)

bool

In [456]:
def only_ints(x,y):
    if type(x)==int and type(y)==int:
            return True
    else:
        return False