In [1]:
import pandas as pd
from datetime import datetime,timedelta
# from flask import request

In [2]:
import pymysql

mydb=pymysql.connect(host='192.168.21.95',user='test',password='Sattrix@123',database='Trainings')

In [3]:
# data=request.get_json()
count=0
dict_of_df={}
pandas_dataframe=pd.read_sql("select * from Sattrix",mydb)

/tmp/ipykernel_85037/966559835.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pandas_dataframe=pd.read_sql("select * from Sattrix",mydb)

In [4]:
pandas_dataframe

,id,name,email,password,phone_number,address,pincode
0,1,dinesh kumar,dinesh@gmail.com,pbkdf2:sha256:600000$i0NiBXqqE854s6sj$ee150deb...,136482971,lucknow,306115
1,3,naresh,naresh23@gmail.com,pbkdf2:sha256:600000$RWxPbaAezfmf2KrV$a5b08f48...,1364829016,ahmedabad154,306115
2,4,Naresh Kumar,naresh@gmail.com,pbkdf2:sha256:600000$zTZhY02Ew5h0IqL8$2eb782c9...,9265413875,Ahmedabad,310265
3,5,naresh kumar,naresh26@gmail.com,pbkdf2:sha256:600000$OJ98GkbuIg17YIlY$97f44787...,1364829562,ahmedabad,306115
4,6,naresh kumar,nareshkumar@gmail.com,pbkdf2:sha256:600000$8xdUctmKLOjGacx3$e12399cf...,1364829542,ahmedabad,306115
5,7,naresh sisodiya,nareshsisodiya@gmail.com,pbkdf2:sha256:600000$ssrpHjaXtRprbcvL$45c27f6e...,1364829565,ahmedabad,306115

In [5]:
for i , j in pandas_dataframe.iterrows():
    print(j['pincode'])

306115
306115
310265
306115
306115
306115

In [6]:
data=pd.read_csv('test.csv')

In [7]:
data

       Unnamed: 0            StartTime  RuleId                    RuleName
0               0  2023-05-16 14:59:30     320              Microsoft Logs
1               1  2023-05-16 14:59:30     320              Microsoft Logs
2               2  2023-05-16 14:59:30     320              Microsoft Logs
3               3  2023-05-16 14:59:30     320              Microsoft Logs
4               4  2023-05-16 14:59:30     320              Microsoft Logs
...           ...                  ...     ...                         ...
23643       23643  2023-05-31 16:29:54     325  Securnoix Alerts_Redington
23644       23644  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23645       23645  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23646       23646  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23647       23647  2023-05-31 23:45:57     325  Securnoix Alerts_Redington

[23648 rows x 4 columns]

In [8]:
data.iloc[:,2:4]

       RuleId                    RuleName
0         320              Microsoft Logs
1         320              Microsoft Logs
2         320              Microsoft Logs
3         320              Microsoft Logs
4         320              Microsoft Logs
...       ...                         ...
23643     325  Securnoix Alerts_Redington
23644     325  Securnoix Alerts_Redington
23645     325  Securnoix Alerts_Redington
23646     325  Securnoix Alerts_Redington
23647     325  Securnoix Alerts_Redington

[23648 rows x 2 columns]

In [9]:
from pandasql import sqldf

In [10]:
pip install pandasql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandasql in /home/sattrix/.local/lib/python3.10/site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /home/sattrix/.local/lib/python3.10/site-packages (from pandasql) (2.0.19)
Requirement already satisfied: numpy in /home/sattrix/.local/lib/python3.10/site-packages (from pandasql) (1.25.1)
Requirement already satisfied: pandas in /home/sattrix/.local/lib/python3.10/site-packages (from pandasql) (2.0.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/sattrix/.local/lib/python3.10/site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sattrix/.local/lib/python3.10/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/sattrix/.local/lib/python3.10/site-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/sattrix/.local/lib/python3.10/site-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from pandasql import sqldf
import pymysql
import pandas as pd

In [12]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')

In [13]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

/tmp/ipykernel_85037/2533310026.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

In [14]:
data

,ID,Count,Rule_ListId,Insert_time,Modified_time,ColumnName,ColumnValue
0,1,1,16,2023-07-19 18:01:42,2023-07-19 18:01:42,IP,"['192.168.23.179', '192.168.23.180', '192.168...."
1,2,1,16,2023-07-19 18:01:42,2023-07-19 18:01:42,name,"['tes', 'user', 'atuks']"

In [68]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
print(data['ColumnValue'])

0    ['192.168.23.179', '192.168.23.180', '192.168....
1                             ['tes', 'user', 'atuks']
Name: ColumnValue, dtype: object

/tmp/ipykernel_85037/3412562604.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

In [69]:
d=data['ColumnValue']

In [70]:
d

0    ['192.168.23.179', '192.168.23.180', '192.168....
1                             ['tes', 'user', 'atuks']
Name: ColumnValue, dtype: object

In [18]:
d[0]

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [19]:
a=pd.DataFrame({'ip':d[0], 'name':d[1]})

ValueError: If using all scalar values, you must pass an index

In [20]:
d[0]

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [21]:
k=[]
for i in d:
    print(i)

['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']
['tes', 'user', 'atuks']

In [22]:
f=d[0]
g=d[1]

In [23]:
f

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [24]:
g

"['tes', 'user', 'atuks']"

In [25]:
f

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [26]:
f

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [27]:
da={
    "ip":f,
    "name":g,
#     "insert_time":
#     "Modified_time":
}

In [28]:
da

{'ip': "['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']",
 'name': "['tes', 'user', 'atuks']"}

In [29]:
r=pd.DataFrame(da)

ValueError: If using all scalar values, you must pass an index

In [30]:
print(r)

NameError: name 'r' is not defined

In [155]:
data=pd.read_sql('''select ColumnName,ColumnValue from Rule_LightWeightlist_new''',db)

/tmp/ipykernel_85037/2410784991.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue from Rule_LightWeightlist_new''',db)

In [156]:
data

  ColumnName                                        ColumnValue
0         IP  ['192.168.23.179', '192.168.23.180', '192.168....
1       name                           ['tes', 'user', 'atuks']

In [158]:
data=pd.read_sql('''select ColumnName,ColumnValue from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
gf=df
r=df.split(',')
s=pd.DataFrame({'IP':r})
s

/tmp/ipykernel_85037/1155269426.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue from Rule_LightWeightlist_new''',db)

                   IP
0   ['192.168.23.179'
1    '192.168.23.180'
2    '192.168.23.206'
3    '192.168.23.215'
4    '192.168.23.227'
5      '192.168.9.57'
6    '192.168.23.222'
7    '192.168.23.229'
8    '192.168.23.132'
9   '192.168.23.160']

In [123]:
print(df)

['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']

In [124]:
data.split()

AttributeError: 'DataFrame' object has no attribute 'split'

In [125]:
type(data)

pandas.core.frame.DataFrame

In [126]:
data=str(data)

In [127]:
data=str(data)
r=data.split(",")

In [128]:
print(r)

["  ColumnName                                        ColumnValue\n0         IP  ['192.168.23.179'", " '192.168.23.180'", " '192.168....\n1       name                           ['tes'", " 'user'", " 'atuks']"]

In [129]:
df=data.iloc[0,1]

AttributeError: 'str' object has no attribute 'iloc'

In [130]:
df

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [131]:
type(df)

str

In [132]:
print(df)

['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']

In [133]:
gf=df

In [154]:
gf=df
data=str(data)
r=data.split(",")
# r=df.split(',')
s=pd.DataFrame({'IP':r})
s

                                                  IP
0     ID  Count  Rule_ListId          Insert_time...
1                                   '192.168.23.180'
2   '192.168....  \n1       name                 ...
3                                             'user'
4                                         'atuks']

In [141]:
type(r)

list

In [142]:
r[1]

" '192.168.23.180'"

In [143]:
r[3]

" '192.168.23.215'"

In [144]:
s=pd.DataFrame({'IP':r})

In [145]:
s

                   IP
0   ['192.168.23.179'
1    '192.168.23.180'
2    '192.168.23.206'
3    '192.168.23.215'
4    '192.168.23.227'
5      '192.168.9.57'
6    '192.168.23.222'
7    '192.168.23.229'
8    '192.168.23.132'
9   '192.168.23.160']

In [151]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
print(data['ColumnValue'])
df=data.iloc[0,1]
r=str(df).split(',')

/tmp/ipykernel_85037/1018432746.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

AttributeError: 'numpy.int64' object has no attribute 'split'

In [107]:
type(df)

numpy.int64

In [108]:
f=str(df)

In [109]:
f

'1'

In [238]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
# print(data['ColumnValue'])
data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
v=df.strip('[,]')
l=data.iloc[1,1]
m=l.strip('[,]')
g=m.split(',')
gf=v
r=v.split(',')
s=pd.DataFrame({'IP':r})
k=pd.DataFrame({'name':g})
ab=data.iloc[0,2]

fd=pd.concat([s,k],axis=1)
print(fd)

                  IP      name
0   '192.168.23.179'     'tes'
1   '192.168.23.180'    'user'
2   '192.168.23.206'   'atuks'
3   '192.168.23.215'       NaN
4   '192.168.23.227'       NaN
5     '192.168.9.57'       NaN
6   '192.168.23.222'       NaN
7   '192.168.23.229'       NaN
8   '192.168.23.132'       NaN
9   '192.168.23.160'       NaN

/tmp/ipykernel_85037/3919802552.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
/tmp/ipykernel_85037/3919802552.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

In [167]:
l=data.iloc[1,1]

In [169]:
l

"['tes', 'user', 'atuks']"

In [184]:
g=l.split(',')

In [185]:
for i in g:
    print(i)

['tes'
 'user'
 'atuks']

In [186]:
pd.DataFrame(g)

           0
0     ['tes'
1     'user'
2   'atuks']

In [200]:
l.strip('[,]')

"'tes', 'user', 'atuks'"

In [191]:
k

        name
0     ['tes'
1     'user'
2   'atuks']

In [212]:
pd.concat([s,k],axis=1)

                  IP      name
0   '192.168.23.179'     'tes'
1   '192.168.23.180'    'user'
2   '192.168.23.206'   'atuks'
3   '192.168.23.215'       NaN
4   '192.168.23.227'       NaN
5     '192.168.9.57'       NaN
6   '192.168.23.222'       NaN
7   '192.168.23.229'       NaN
8   '192.168.23.132'       NaN
9   '192.168.23.160'       NaN

In [215]:
kl=r[0].replace("'"," ")

In [214]:
for i in r:
    print(float(i))

ValueError: could not convert string to float: "'192.168.23.179'"

ValueError: invalid literal for int() with base 10: ' 192.168.23.179 '

In [232]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select ColumnName,ColumnValue, Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
data

/tmp/ipykernel_85037/301203018.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue, Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

,ColumnName,ColumnValue,Insert_time,Modified_time
0,IP,"['192.168.23.179', '192.168.23.180', '192.168....",2023-07-19 18:01:42,2023-07-19 18:01:42
1,name,"['tes', 'user', 'atuks']",2023-07-19 18:01:42,2023-07-19 18:01:42

In [226]:
c=data['Insert_time']

In [225]:
data['Modified_time']

0    2023-07-19 18:01:42
1    2023-07-19 18:01:42
Name: Modified_time, dtype: object

In [227]:
print(c)

0    2023-07-19 18:01:42
1    2023-07-19 18:01:42
Name: Insert_time, dtype: object

In [236]:
data.iloc[0,2]

'2023-07-19 18:01:42'

In [242]:
pd.DataFrame({'Start_time':ab})

ValueError: If using all scalar values, you must pass an index

In [292]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
# print(data['ColumnValue'])
data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
v=df.strip('[,]')
l=data.iloc[1,1]
m=l.strip('[,]')
g=m.split(',')
r=v.split(',')
s=pd.DataFrame({'IP':r})
k=pd.DataFrame({'name':g})
# ab=data.iloc[0,2]
sa=data['Insert_time']
vc=pd.DataFrame(sa)
p=pd.DataFrame(vc)
aa=data['Modified_time']
ac=pd.DataFrame(aa)
z=pd.DataFrame(ac)

fd=pd.concat([s,k,p,z],axis=1)
fd['Insert_time'].fillna(fd.loc[0,'Insert_time'],inplace=True)
fd['Modified_time'].fillna(fd.loc[0,'Modified_time'],inplace=True)

print(fd)

                  IP      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

/tmp/ipykernel_85037/3111404073.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
/tmp/ipykernel_85037/3111404073.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

In [243]:
type(ab)

str

In [244]:
ab

'2023-07-19 18:01:42'

In [258]:
# bv=pd.DataFrame({v:'ab'})

In [254]:
bv

                     0
0  2023-07-19 18:01:42
1                    v

In [259]:
r

["'192.168.23.179'",
 " '192.168.23.180'",
 " '192.168.23.206'",
 " '192.168.23.215'",
 " '192.168.23.227'",
 " '192.168.9.57'",
 " '192.168.23.222'",
 " '192.168.23.229'",
 " '192.168.23.132'",
 " '192.168.23.160'"]

In [262]:
for i in r:
    print(float(i))

ValueError: could not convert string to float: "'192.168.23.179'"

In [268]:
sa=data['Insert_time']

KeyError: 2

In [275]:
pd.DataFrame(sa)

           Insert_time
0  2023-07-19 18:01:42
1  2023-07-19 18:01:42

In [280]:
fd

                  IP      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'                  NaN                  NaN
3   '192.168.23.215'       NaN                  NaN                  NaN
4   '192.168.23.227'       NaN                  NaN                  NaN
5     '192.168.9.57'       NaN                  NaN                  NaN
6   '192.168.23.222'       NaN                  NaN                  NaN
7   '192.168.23.229'       NaN                  NaN                  NaN
8   '192.168.23.132'       NaN                  NaN                  NaN
9   '192.168.23.160'       NaN                  NaN                  NaN

In [288]:
fd['Insert_time'].fillna(fd.loc[0,'Insert_time'])

0    2023-07-19 18:01:42
1    2023-07-19 18:01:42
2    2023-07-19 18:01:42
3    2023-07-19 18:01:42
4    2023-07-19 18:01:42
5    2023-07-19 18:01:42
6    2023-07-19 18:01:42
7    2023-07-19 18:01:42
8    2023-07-19 18:01:42
9    2023-07-19 18:01:42
Name: Insert_time, dtype: object

In [287]:
fd.loc[0,'Insert_time']

'2023-07-19 18:01:42'

In [289]:
fd['Modified_time'].fillna(fd.loc[0,'Modified_time'])

0    2023-07-19 18:01:42
1    2023-07-19 18:01:42
2    2023-07-19 18:01:42
3    2023-07-19 18:01:42
4    2023-07-19 18:01:42
5    2023-07-19 18:01:42
6    2023-07-19 18:01:42
7    2023-07-19 18:01:42
8    2023-07-19 18:01:42
9    2023-07-19 18:01:42
Name: Modified_time, dtype: object

In [294]:
jsk=data['ColumnValue']

In [295]:
print(jsk)

0    ['192.168.23.179', '192.168.23.180', '192.168....
1                             ['tes', 'user', 'atuks']
Name: ColumnValue, dtype: object

In [296]:
jsk[0]

"['192.168.23.179', '192.168.23.180', '192.168.23.206', '192.168.23.215', '192.168.23.227', '192.168.9.57', '192.168.23.222', '192.168.23.229', '192.168.23.132', '192.168.23.160']"

In [297]:
jsk[1]

"['tes', 'user', 'atuks']"

In [298]:
y=open('newd.csv','x')

In [299]:
y.write(fd)

TypeError: write() argument must be str, not DataFrame

In [300]:
fd

                  IP      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

In [301]:
print(fd)

                  IP      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

In [302]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
# print(data['ColumnValue'])
data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
v=df.strip('[,]')
l=data.iloc[1,1]
m=l.strip('[,]')
g=m.split(',')
r=v.split(',')
s=pd.DataFrame({'Ip':r})
k=pd.DataFrame({'name':g})
# ab=data.iloc[0,2]
sa=data['Insert_time']
vc=pd.DataFrame(sa)
p=pd.DataFrame(vc)
aa=data['Modified_time']
ac=pd.DataFrame(aa)
z=pd.DataFrame(ac)

fd=pd.concat([s,k,p,z],axis=1)
fd['Insert_time'].fillna(fd.loc[0,'Insert_time'],inplace=True)
fd['Modified_time'].fillna(fd.loc[0,'Modified_time'],inplace=True)

print(fd)

                  Ip      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

/tmp/ipykernel_85037/684450496.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
/tmp/ipykernel_85037/684450496.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

In [304]:
fd.loc[5,'Insert_time']

'2023-07-19 18:01:42'

In [316]:
fd[fd['Ip'] <'192.168.']

                  Ip      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

In [312]:
rslt_df

Empty DataFrame
Columns: [Ip, name, Insert_time, Modified_time]
Index: []

In [320]:
'2023-07-19 18:01:42' in fd

False

In [326]:
for i in fd:
#     for k in i:   print(k)
#     print(ip[i])
    print(i)

Ip
name
Insert_time
Modified_time

In [334]:
fd.replace("'192.168.23.179'",125)

                  Ip      name          Insert_time        Modified_time
0                125     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

In [330]:
fd

                  Ip      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

In [339]:
xc="'ramesh','kumar','sharma'"

In [340]:
xc

"'ramesh','kumar','sharma'"

In [342]:
xs=xc.split(',')

In [343]:
for i in xs:
    print(i)

'ramesh'
'kumar'
'sharma'

In [344]:
pd.DataFrame({'Jyoti':xs})

      Jyoti
0  'ramesh'
1   'kumar'
2  'sharma'

In [359]:
flag=0
def pr():
    global flag
    if flag==0:
        flag=1
        print('hello')
    else:
        print('world')

In [360]:
print(flag)

0

In [364]:
pr()

world

In [368]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
dt=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

/tmp/ipykernel_85037/373105364.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dt=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)

In [371]:
dt

,ID,Count,Rule_ListId,Insert_time,Modified_time,ColumnName,ColumnValue
0,1,1,16,2023-07-19 18:01:42,2023-07-19 18:01:42,IP,"['192.168.23.179', '192.168.23.180', '192.168...."
1,2,1,16,2023-07-19 18:01:42,2023-07-19 18:01:42,name,"['tes', 'user', 'atuks']"

In [367]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
# print(data['ColumnValue'])
data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
v=df.strip('[,]')
l=data.iloc[1,1]
m=l.strip('[,]')
g=m.split(',')
r=v.split(',')
s=pd.DataFrame({'Ip':r})
k=pd.DataFrame({'name':g})
# ab=data.iloc[0,2]
sa=data['Insert_time']
vc=pd.DataFrame(sa)
p=pd.DataFrame(vc)
aa=data['Modified_time']
ac=pd.DataFrame(aa)
z=pd.DataFrame(ac)

fd=pd.concat([s,k,p,z],axis=1)
fd['Insert_time'].fillna(fd.loc[0,'Insert_time'],inplace=True)
fd['Modified_time'].fillna(fd.loc[0,'Modified_time'],inplace=True)

print(fd)

                  Ip      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42

/tmp/ipykernel_85037/684450496.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
/tmp/ipykernel_85037/684450496.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

In [373]:
db=pymysql.connect(host='192.168.21.95', user='test', password='Sattrix@123', database='Trainings')
data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
# print(data['ColumnValue'])
data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)
df=data.iloc[0,1]
v=df.strip('[,]')
l=data.iloc[1,1]
m=l.strip('[,]')
g=m.split(',')
r=v.split(',')
s=pd.DataFrame({'Ip':r})
k=pd.DataFrame({'name':g})
# ab=data.iloc[0,2]
sa=data['Insert_time']
vc=pd.DataFrame(sa)
p=pd.DataFrame(vc)
aa=data['Modified_time']
ac=pd.DataFrame(aa)
z=pd.DataFrame(ac)

fd=pd.concat([s,k,p,z],axis=1)
fd['Insert_time'].fillna(fd.loc[0,'Insert_time'],inplace=True)
fd['Modified_time'].fillna(fd.loc[0,'Modified_time'],inplace=True)

fd

/tmp/ipykernel_85037/1033624282.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select * from Rule_LightWeightlist_new''',db)
/tmp/ipykernel_85037/1033624282.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('''select ColumnName,ColumnValue,Insert_time , Modified_time from Rule_LightWeightlist_new''',db)

                  Ip      name          Insert_time        Modified_time
0   '192.168.23.179'     'tes'  2023-07-19 18:01:42  2023-07-19 18:01:42
1   '192.168.23.180'    'user'  2023-07-19 18:01:42  2023-07-19 18:01:42
2   '192.168.23.206'   'atuks'  2023-07-19 18:01:42  2023-07-19 18:01:42
3   '192.168.23.215'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
4   '192.168.23.227'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
5     '192.168.9.57'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
6   '192.168.23.222'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
7   '192.168.23.229'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
8   '192.168.23.132'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42
9   '192.168.23.160'       NaN  2023-07-19 18:01:42  2023-07-19 18:01:42