# list

## 1. define list

In [41]:
l=list()
k=[]

In [42]:
type(l)

list

In [43]:
type(k)

list

## 2. store value & data to a list

### append()
#### one by one value (data) store in list & data (value)  store at end of list

In [44]:
l.append(5) #insert a value in list

In [45]:
l

[5]

In [46]:
l.append(9)

In [47]:
print(l)

[5, 9]

### extend()
#### at a time one & multiple value store in list, value store end of list
#### value insert in list formet

In [48]:
l.extend([5,4,8])

In [49]:
print(l)

[5, 9, 5, 4, 8]

In [50]:
l.extend([0])

In [51]:
print(l)

[5, 9, 5, 4, 8, 0]

### insert('index_number','data')
#### its use to store data at particular index number
#### at a time one value store

In [52]:
l.insert(2,7)

In [53]:
print(l)

[5, 9, 7, 5, 4, 8, 0]

## 3. remove & delete data from list

### pop()
#### pop() method bydefault delete data form end of list
### pop(index_number)
#### its use to delete data from particular index number
#### if index number in out of range raised an error 'IndexError'

In [54]:
l.pop()

0

In [55]:
l.pop(1)

9

In [56]:
l.pop(9)

IndexError: pop index out of range

### remove(data) ----> insert data to remove from list
#### if  insert data is not available in list raised an error 'ValueError'

In [57]:
l.remove(5)

In [58]:
print(l)

[7, 5, 4, 8]

In [59]:
l.remove(9)

ValueError: list.remove(x): x not in list

In [60]:
l.remove(4)

## 4. sorting
### sort()
#### sort() method use to arrange data in ascending to descending order

In [3]:
l=[8,4,5,6,9,8,5,2]

In [4]:
l.sort()

In [5]:
print(l)

[2, 4, 5, 5, 6, 8, 8, 9]

### sort(reverse=True/False)
#### its use to  arrange data in ascending to descending order or descending to ascending order

In [6]:
l.sort(reverse=True)

In [7]:
print(l)

[9, 8, 8, 6, 5, 5, 4, 2]

In [8]:
l.sort(reverse=False)

In [9]:
print(l)

[2, 4, 5, 5, 6, 8, 8, 9]

###  index() , count() , clear() , copy()

In [ ]:
#index() --> find index number of data & value

In [12]:
l.index(8)

5

In [13]:
#count()--> count a particular items & raise number of item

In [14]:
l.count(8)

2

In [ ]:
#copy--> copy items of list & store item to another list

In [16]:
k=l.copy()

In [17]:
print(k)

[2, 4, 5, 5, 6, 8, 8, 9]

In [15]:
#clear()--> it's use to clear(empty) a list

In [18]:
l.clear()

In [19]:
print(l)

[]

# Tuple

## Define Tuple
###  Tuple is immutable (can't be change)
### Tuple have only 2 method
### count() , index()

In [32]:
t=tuple()

In [33]:
type(t)

tuple

In [34]:
f=()

In [35]:
type(f)

tuple

In [36]:
t=(5,4,6,8 ,'n','r','d',2,9)

In [37]:
print(t)

(5, 4, 6, 8, 'n', 'r', 'd', 2, 9)

In [38]:
t.count(6)

1

In [39]:
t.index(4)

1

# dictionary
#### dictionary is pair of key & values

## define dictionary

In [70]:
d={}

In [51]:
type(d)

dict

In [54]:
d=dict()

In [55]:
type(d)

dict

## insert value in dictionary 

### setdefault ( ' key ' , ' value ' ) bydefault value = ' None '
#### at a time only one pair ( key , value ) insert

In [71]:
d.setdefault('name','Naresh')

'Naresh'

In [72]:
d.setdefault('Address')

In [73]:
print(d)

{'name': 'Naresh', 'Address': None}

### update( {' key' : 'value','key' : 'value '})
#### at a time multi pair insert in dictionary

In [74]:
d.update({'roll num': 256,'subject':'Python'})

In [75]:
print(d)

{'name': 'Naresh', 'Address': None, 'roll num': 256, 'subject': 'Python'}

In [76]:
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Remove & Delete pair from dictionary
### pop('key') remove pair from dictionary

In [77]:
d.pop('Address')

In [78]:
print(d)

{'name': 'Naresh', 'roll num': 256, 'subject': 'Python'}

## popitem()
#### its use to remove random pair from ends of dictionary

In [79]:
d.popitem()

('subject', 'Python')

In [80]:
print(d)

{'name': 'Naresh', 'roll num': 256}

### clear()
#### delete or empty dictionary

## keys() & values()
### keys()--->its use to show all available keys from dictionary
### values()---> its use to show all available values from dictionary

In [81]:
d.keys()

dict_keys(['name', 'roll num'])

In [82]:
d.values()

dict_values(['Naresh', 256])

## items( ) 
### its use to see available all pair in list (tuple) form

In [87]:
d.items()

dict_items([('name', 'Naresh'), ('roll num', 256)])

In [88]:
d.get('name')

'Naresh'

In [94]:
d['class']='Python'

In [95]:
d

{'name': 'Naresh', 'roll num': 256, 'class': 'Python'}

In [99]:
d['Name']='Naresh Kumar'

In [100]:
print(d)

{'name': 'Naresh Kumar', 'roll num': 256, 'class': 'Python', 'Name': 'Naresh Kumar'}

In [102]:
d.popitem()

('Name', 'Naresh Kumar')

In [103]:
d

{'name': 'Naresh Kumar', 'roll num': 256, 'class': 'Python'}

In [2]:
e={}

In [10]:
e.fromkeys(['name','subject','city'],'__________')

{'name': '__________', 'subject': '__________', 'city': '__________'}

In [113]:
e['name']="Naresh"
e['subject']='Python'
e['city']='Rani'

In [114]:
print(e)

{'name': 'Naresh', 'subject': 'Python', 'city': 'Rani'}

In [116]:
e.items()

dict_items([('name', 'Naresh'), ('subject', 'Python'), ('city', 'Rani')])

In [118]:
e.__class__

dict

In [124]:
e.__contains__('name')

True

In [126]:
'name' in e

True

# set 
### set auto arrange in sorted
### every set element is unique & must be immutable (can not be change)

In [11]:
#define set
s={5,1,2,6,3,4,5}

In [12]:
type(s)

set

In [13]:
print(s)

{1, 2, 3, 4, 5, 6}

In [14]:
# add()----> add data in set one by one
s.add(7)

In [15]:
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [20]:
s.add(0)

In [21]:
# update() ---> add multiple data at a time in list form
s.update([5,9,8,3,1])

In [22]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s.update(['na','kaa','saaa',5])

In [29]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'n', 'k', 'kaa', 'saaa', 's', 'na'}

# remove element
## discard() ===> function leaves a set unchange if the element is not present in the set
## remove() ===> function will raise an error if the element is not present in the set

In [30]:
s.discard(5)

In [31]:
print(s)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 'n', 'k', 'kaa', 'saaa', 's', 'na'}

In [32]:
s.discard(5)

In [35]:
print(s)

{0, 1, 2, 3, 6, 7, 8, 9, 'n', 'k', 'kaa', 'saaa', 's', 'na'}

In [33]:
s.remove(4)

In [34]:
print(s)

{0, 1, 2, 3, 6, 7, 8, 9, 'n', 'k', 'kaa', 'saaa', 's', 'na'}

In [36]:
s.remove(4)

KeyError: 4

In [39]:
# rendomlly delete (remove) element from set . from right
s.pop()

2

In [38]:
s.pop()

1

In [40]:
# clear()---->its use to remove all element from set

In [41]:
s.clear()

In [42]:
print(s)

set()

# set operation

## union()

In [43]:
a={5,4,6,9,8,5,2}
b={2,6,5,3,1,4,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 8, 9}

In [44]:
print(a.union(b))

{1, 2, 3, 4, 5, 6, 8, 9}

## intersection
### compare  find common element in

In [45]:
print(a&b)

{2, 4, 5, 6, 8}

In [46]:
print(a.intersection(b))

{2, 4, 5, 6, 8}

In [47]:
print(b&a)

{2, 4, 5, 6, 8}