# list

## 1. define list

In [41]:
l=list()
k=[]

In [42]:
type(l)

list

In [43]:
type(k)

list

## 2. store value & data to a list

### append()
#### one by one value (data) store in list & data (value)  store at end of list

In [44]:
l.append(5) #insert a value in list

In [45]:
l

[5]

In [46]:
l.append(9)

In [47]:
print(l)

[5, 9]

### extend()
#### at a time one & multiple value store in list, value store end of list
#### value insert in list formet

In [48]:
l.extend([5,4,8])

In [49]:
print(l)

[5, 9, 5, 4, 8]

In [50]:
l.extend([0])

In [51]:
print(l)

[5, 9, 5, 4, 8, 0]

### insert('index_number','data')
#### its use to store data at particular index number
#### at a time one value store

In [52]:
l.insert(2,7)

In [53]:
print(l)

[5, 9, 7, 5, 4, 8, 0]

## 3. remove & delete data from list

### pop()
#### pop() method bydefault delete data form end of list
### pop(index_number)
#### its use to delete data from particular index number
#### if index number in out of range raised an error 'IndexError'

In [54]:
l.pop()

0

In [55]:
l.pop(1)

9

In [56]:
l.pop(9)

IndexError: pop index out of range

### remove(data) ----> insert data to remove from list
#### if  insert data is not available in list raised an error 'ValueError'

In [57]:
l.remove(5)

In [58]:
print(l)

[7, 5, 4, 8]

In [59]:
l.remove(9)

ValueError: list.remove(x): x not in list

In [60]:
l.remove(4)

## 4. sorting
### sort()
#### sort() method use to arrange data in ascending to descending order

In [61]:
l=[8,4,5,6,9,8,5,2]

In [62]:
l.sort()

In [63]:
print(l)

[2, 4, 5, 5, 6, 8, 8, 9]

### sort(reverse=True/False)
#### its use to  arrange data in ascending to descending order or descending to ascending order

In [67]:
l.sort(reverse=True)

In [68]:
print(l)

[9, 8, 8, 6, 5, 5, 4, 2]

In [69]:
l.sort(reverse=False)

In [70]:
print(l)

[2, 4, 5, 5, 6, 8, 8, 9]