In [2]:
import pymysql as sql

In [4]:
db=sql.connect(host="localhost",port=3306,user="root",password='',database="tops")

In [5]:
cur=db.cursor()

In [7]:
cur.execute("select * from students")

3

In [8]:
cur.fetchall()

((1, 'Naresh', 'pali'), (2, 'Anand', 'Pali'), (3, 'Lokesh', 'Rani'))

In [10]:
i_d=int(input('Enter Your id num: '))
name=input('Enter Your Name: ')
address=input('Enter Your Address: ')

query=f"insert into students values('{i_d}','{name}','{address}')"
cur.execute(query)
db.commit()
cur.execute("select * from students")
print(cur.fetchall())

Enter Your id num: 4
Enter Your Name: Nishad
Enter Your Address: Ahmedabad
((1, 'Naresh', 'pali'), (2, 'Anand', 'Pali'), (3, 'Lokesh', 'Rani'), (4, 'Nishad', 'Ahmedabad'))