In [1]:
import sqlite3 as sql

In [2]:
db=sql.connect("mypracticedatabase.db")

In [3]:
cur=db.cursor()

In [4]:
cur.execute('''create table users(id int, name varchar(25), address varchar(30), mobile int(10))''')

In [6]:
cur.execute('''insert into users(id,name,address,mobile) values(1,'Naresh','Pali',8003523012)''')

In [7]:
db.commit()

In [8]:
cur.execute("select * from users")

In [11]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012)]

In [12]:
cur.execute('''insert into users(id,name,address,mobile)values(2,"Nishad", "Ahmedabad",0123456789)''')

In [13]:
cur.fetchall()

[]

In [14]:
cur.execute("select * from users")

In [15]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012), (2, 'Nishad', 'Ahmedabad', 123456789)]

In [16]:
db.commit()

In [19]:
data=[
    {
        'id':3,
        'name':"vishal",
        'address':"ahmedabad",
        'mobile':9876543210,
    },
    {
        'id':4,
        'name':"Anand",
        'address':"Rani",
        'mobile':9876543012,
    }
]

In [34]:
cur.execute("select * from users")

In [35]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012),
 (2, 'Nishad', 'Ahmedabad', 123456789),
 (4, 'Anand', 'Rani', 9876543012)]

In [22]:
db.commit()

In [24]:
cur.execute("select * from users")

In [25]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012), (2, 'Nishad', 'Ahmedabad', 123456789)]

In [41]:
for i in data:
    d=tuple(i.values())
    query= f'''insert into users(id,name,address,mobile)values{d}'''
    print(query)
    cur.execute(query)

insert into users(id,name,address,mobile)values(3, 'vishal', 'ahmedabad', 9876543210)
insert into users(id,name,address,mobile)values(4, 'Anand', 'Rani', 9876543012)

In [42]:
db.commit()

In [43]:
cur.execute("select * from users")

In [44]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012),
 (2, 'Nareshsisodiya', 'Ahmedabad', 123456789),
 (4, 'Anand', 'Rani', 9876543012),
 (3, 'vishal', 'ahmedabad', 9876543210),
 (4, 'Anand', 'Rani', 9876543012)]

In [36]:
db.commit()

In [37]:
cur.execute('''update users set name= "Nareshsisodiya" where id=2 ''')

In [38]:
db.commit()

In [39]:
cur.execute("select * from Users")

In [40]:
cur.fetchall()

[(1, 'Naresh', 'Pali', 8003523012),
 (2, 'Nareshsisodiya', 'Ahmedabad', 123456789),
 (4, 'Anand', 'Rani', 9876543012)]

In [1]:
import pymysql as sql

In [4]:
db=sql.connect(host="localhost",port=3306,user='root',password='',database='mypracticedatabase.db')

OperationalError: (1049, "Unknown database 'mypracticedatabase.db'")