In [3]:
import sqlite3 as sql

In [4]:
print(dir(sql))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [5]:
db=sql.connect("mydatabase.db")

In [6]:
print(dir(db))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [7]:
cur=db.cursor()

In [8]:
cur.execute("create table users(id int,name varchar(25),city varchar(25))")

In [9]:
cur.execute('''insert into users(id,name,city) values(1,"Naresh","Rani")''')

In [10]:
db.commit()

In [11]:
cur.execute("select * from users")

In [13]:
cur.fetchall()

[(1, 'Naresh', 'Rani')]

In [15]:
cur.execute('''insert into users(id,name,city) values(2,"nishad","ahmedabad")''')

In [27]:
cur.execute("select * from users")

In [28]:
cur.fetchall()

[(1, 'Naresh', 'Rani'), (2, 'nishad', 'ahmedabad')]

In [34]:
data = [
    {
        'id':3,
        'name':'jay',
        'city':'ahmedabad',
    },
    {
         'id':4,
        'name':'kishan',
        'city':'ahmedabad',
    }
]

In [35]:
for  i  in data:
    print(i)

{'id': 3, 'name': 'jay', 'city': 'ahmedabad'}
{'id': 4, 'name': 'kishan', 'city': 'ahmedabad'}

In [36]:
for  i in data:
    for r in i:
        print(r)

id
name
city
id
name
city

In [38]:
for i in data:
    for r in i:
        print(r,i[r])

id 3
name jay
city ahmedabad
id 4
name kishan
city ahmedabad

In [43]:
for  i in data:
    for r,v in i.items():
        print(r,v)

id 3
name jay
city ahmedabad
id 4
name kishan
city ahmedabad

In [45]:
for i in data:
    l=list()
    for r in i:
        l.append(r)
    print(l)

['id', 'name', 'city']
['id', 'name', 'city']

In [48]:
for i in data:
    l=[*i.values()]
    print(l)

[3, 'jay', 'ahmedabad']
[4, 'kishan', 'ahmedabad']