### function practice

##### simple function

In [2]:
def hello():
    print('welcome to tops')

In [3]:
type(hello)

function

In [4]:
print(hello)

<function hello at 0x000001744BF38790>

In [5]:
hello()

welcome to tops

In [7]:
a=hello

In [8]:
print(a)

<function hello at 0x000001744BF38790>

In [9]:
w=hello()

welcome to tops

In [10]:
print(w)

None

In [11]:
type(w)

NoneType

In [12]:
hello()

welcome to tops

In [13]:
def life():
    return 'not allow'

In [14]:
life()

'not allow'

In [ ]:
# function arguments

In [15]:
def hello(name):
    return f"hello {name}"

In [16]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [18]:
hello('naresh')

'hello naresh'

In [19]:
hello('vishal')

'hello vishal'

In [20]:
hello('nishad')

'hello nishad'

In [21]:
def data(name,age):
    return f" hello {name} your are {age} year's old"

In [23]:
data ('naresh',23)

" hello naresh your are 23 year's old"

In [24]:
data (23,'naresh')

" hello 23 your are naresh year's old"

In [26]:
data(age='26', name='naresh')

" hello naresh your are 26 year's old"

In [27]:
data('vishal',21)

" hello vishal your are 21 year's old"

In [31]:
def add(x,y):
    print(x+y)

In [32]:
add(6,9)

15

In [33]:
add(25,856589)

856614

In [34]:
add(4)

TypeError: add() missing 1 required positional argument: 'y'

In [53]:
def data(x,y):
    if type(x)==str and type(y) !=str or type(x)==int and type(y) !=int or type(x)==str and type(y)==str:
        print('both arguement should be the int type')
    else:
        return (x*y)

In [54]:
data(5,9)

45

In [55]:
data('a',4)

both arguement should be the int type

In [56]:
data(8,'t')

both arguement should be the int type

In [57]:
data('t','r')

both arguement should be the int type

In [58]:
##default arguments

In [1]:
def new(name, age, mobile=None):
    if mobile:
        f" hello dear {name} your age is {age} & your mobile number is {mobile}"
    else:
        f" hello dear {name} your age is {age}"

In [70]:
new('naresh',23)

In [71]:
new('naresh',23,'class:python')