# User Define function

### default argument 

#### When the argument assigned to the definition is not given on the function call, the default value is passed.

In [16]:
def add(x=5,y=5 ): 
    return x+y

In [17]:
add(5,8)

13

In [18]:
add()

10

In [19]:
add(8)

13

###  Required Argument

#### In the Required Argument, it is mandatory to give arguments on the function call.
#### If the argument is not given on the function call, then the exception of TypeError occurs.

In [20]:
def multiplication(x,y):
    return x*y

In [22]:
multiplication(5,7)

35

In [23]:
multiplication(5)

TypeError: multiplication() missing 1 required positional argument: 'y'

### keyword argument
#### With the help of Keyword Argument, the positions of the arguments are changed.

In [25]:
def data(name,age,district):
    print(name)
    print(age)
    print(district)

In [26]:
data(name='naresh',age=26,district='pali')

naresh
26
pali

In [27]:
data(name='naresh',district='pali',age=25)

naresh
25
pali

In [28]:
data(district='pali',age=25,name='naresh')

naresh
25
pali

In [71]:
data(name='naresh',where='pali')

TypeError: data() got an unexpected keyword argument 'name'

### Number of Arguments

####  By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [29]:
def data(x,y,z):
    return x+y+z

In [30]:
data(8,4,6)

18

In [31]:
data (5,4)

TypeError: data() missing 1 required positional argument: 'z'

### Arbitrary Arguments, *args

#### If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
#### This way the function will receive a tuple of arguments, and can access the items accordingly:

In [32]:
def marks(*num):
    sum=0
    for i in num:
        sum+=i
    return sum

In [33]:
marks(5,4,6,5,8,6)

34

In [34]:
marks(1,5)

6

In [35]:
def marks(*num):
    return num

In [36]:
marks(5,4,6,7)

(5, 4, 6, 7)

In [37]:
type(marks)

function

### Arbitrary Keyword Arguments, **kwargs

#### If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
#### This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [38]:
def info(**student):
    return student

In [41]:
info(name='naresh',subject='python')

{'name': 'naresh', 'subject': 'python'}

In [42]:
info(age=23)

{'age': 23}

In [55]:
def fruits(food):
    for i in food:
        print(i)

In [56]:
fruit=['banana','mango']

In [57]:
fruits(fruit)

banana
mango

### Passing a List as an Argument

In [66]:
def my_function(food):
    for x in food:
        print(x)

In [67]:
fruits=['banana','mango','orange','grapes']

In [68]:
my_function(fruits)

banana
mango
orange
grapes

In [69]:
name=('banana','mango','orange','grapes')

In [70]:
my_function(name)

banana
mango
orange
grapes

## Anonymous Function - lambda and special functions - filter(), reduce()

#### When a normal function is created, a specific name is given to the function. But Anonymous or Lambda Function has no name.
#### 'def' keyword is used for Normal Function but 'lambda' keyword is used for Anonymous/Lambda Function. This function is very small.

In [72]:
# creat a Anonymous Function
name=lambda a,b: a+b

In [73]:
name(6,7)

13

In [75]:
name(4,5)

9

### filter(function, iterable_object)

In [79]:
subject=filter(None,'python')

In [80]:
for i in subject:
    print(i)

p
y
t
h
o
n

In [3]:
k=[5,4,6,9,8]

In [4]:
def add(x,y):
    print(x+y)

In [5]:
result=filter(add,k)

In [7]:
result

## next(generator)

In [94]:
k=[5,4,6,9,8]

In [99]:
def add(*num):
    sum=0
    for i in num:
        sum+=i
    return sum

In [100]:
add(5,4,6,8,5)

28

In [105]:
sum=filter(None,k)

In [107]:
next(sum)

5

In [108]:
next(sum)

4

In [109]:
next(sum)

6

In [110]:
next(sum)

9

In [111]:
next(sum)

8

In [112]:
next(sum)

StopIteration:

## reduce()

In [114]:
from functools import reduce
def add(x,y):
    return x+y

In [116]:
add(5,4)

9

In [117]:
add(5,4,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [119]:
new_add=reduce(add,(5,4,6,8))

In [120]:
new_add

23

In [121]:
def multi(x,y):
    return x*y

In [122]:
multiply=reduce(multi,(4,5,6,9,8))

In [123]:
multiply

8640

## list comprehension

In [125]:
number=[*range(10)]

In [126]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]