In [1]:
def hello(): #simple function
    print('hello viewer')

In [2]:
hello()

hello viewer

In [3]:
def add(x=5,y=8): #default function
    print(x+y)

In [4]:
add(5)

13

In [5]:
add(3,5)

8

In [6]:
add(6,4)

10

In [7]:
def add(x,y): #required argument 
    return x+y

In [8]:
add()

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [9]:
add(5,7)

12

In [10]:
add(5,4,6,8)

TypeError: add() takes 2 positional arguments but 4 were given

In [15]:
def add(*value): #arbitary argument 
    k=0
    for i in value:
        k+=i
    return k

In [16]:
add(5,4,6)

15

In [17]:
add(5,4,9,5,6,8,5,5,6,5,2,2,5,)

67

In [19]:
add(5,4,8,6,3)

26

In [22]:
def info(name,subject,time): #required argument positional 
    print(f'name={name},time={time},subject={subject}')

In [26]:
info('naresh','python','11:40')

name=naresh,time=11:40,subject=python

In [27]:
info('python','11:40','naresh')

name=python,time=naresh,subject=11:40

In [28]:
def data(**new): #arbitary key-value argument
    print(new)

In [29]:
data(name='naresh',subject='python')

{'name': 'naresh', 'subject': 'python'}

In [40]:
name=lambda x,y: x+y #lambda function

In [41]:
name('naresh','kumar')

'nareshkumar'

In [42]:
k=name('naresh','kumar')

In [43]:
k

'nareshkumar'

In [44]:
type(k)

str

In [45]:
type(name)

function

In [50]:
print(dir(name))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [54]:
# filter function

In [56]:
def add(x+y):
    return x+y

In [69]:
k=[7,8,5,2,6,9,8,5]

In [70]:
new_list=filter(add,k)

In [71]:
print(new_list)

<filter object at 0x0000023722C195B0>

In [72]:
type(new_list)

filter

In [121]:
def add(*value):
    s=0
    for i in value:
        s+=i
    return s

In [122]:
k=[5,4,6,9,85]
new_list=filter(add,k)

In [123]:
new_list

In [133]:
def is_even(x):
    p=list()
    for i in x:
        if i%2==0:
            p.append(i)
    return p

In [136]:
new_even=filter(is_even,k)

In [137]:
print(list(new_even))

TypeError: 'int' object is not iterable

In [115]:
l2=[i for i in range(1,11)]

In [116]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [126]:
def add(x,y):
    return x+y

In [128]:
from functools import reduce
new_reduce_list=reduce(add,[5,8,9,5,6,52])
print(new_reduce_list)

85

In [129]:
def multiply(x,y):
    return x*y

In [130]:
new_reduce=reduce(multiply,[8,4,6,9,8,5])

In [131]:
new_reduce

69120