In [1]:
import sqlite3 as sql

In [3]:
db=sql.connect('mydatanew.db')

In [4]:
cur=db.cursor()

In [6]:
cur.execute("create table ujju(id int, name varchar(25))")

In [8]:
cur.execute("insert into ujju values(1,'name')")

In [9]:
cur.execute("select * from ujju")

In [10]:
cur.fetchall()

[(1, 'name')]

In [11]:
cur.execute("insert into ujju values(2,'Kailash')")

In [12]:
cur.execute("update ujju set name='Naresh Kumar' where id=1")

In [13]:
cur.execute("select * from ujju")

In [14]:
cur.fetchall()

[(1, 'Naresh Kumar'), (2, 'Kailash')]

In [15]:
cur.execute("select name from ujju")

In [16]:
cur.fetchall()

[('Naresh Kumar',), ('Kailash',)]

In [17]:
cur.execute("update ujju set name='Kailash Kumar' where id=2")

In [19]:
cur.execute("select * from ujju")

In [20]:
cur.fetchall()

[(1, 'Naresh Kumar'), (2, 'Kailash Kumar')]

In [26]:
cur.execute("alter table ujju ADD COLUMN address varchar(25)")

In [38]:
cur.execute("select * from ujju")

In [39]:
cur.fetchall()

[(1, 'Naresh Kumar', 'rani'), (2, 'Kailash Kumar', 'rani')]

In [37]:
cur.execute("update ujju set address='rani' where id=1 OR id=2")

In [41]:
cur.execute("alter table ujju Add column mobile int")

In [42]:
cur.execute("select * from ujju")

In [43]:
cur.fetchall()

[(1, 'Naresh Kumar', 'rani', None), (2, 'Kailash Kumar', 'rani', None)]

In [44]:
cur.execute("update ujju set mobile=8003523012 where id=1 OR id=2")

In [ ]:
cur.execute()