In [1]:
import pymysql as sql

In [3]:
db=sql.connect(host='localhost',port=3306,user='root',password='',database='student')

In [4]:
cur=db.cursor()

In [6]:
cur.execute("select * from data")

2

In [7]:
cur.fetchall()

((1, 'naresh', 'python'), (1, 'nishad', 'python'))

In [8]:
cur.execute('desc data')

3

In [9]:
cur.execute('insert into data values(3,"Vishal","DA")')

1

In [12]:
cur.execute("select * from data")

3

In [13]:
database=cur.fetchall()

In [21]:
new=list()
for i in database:
    new.append(i[0])
print(new)

['id', 'name', 'subject']

In [19]:
cur.execute('desc data')

3

In [20]:
database=cur.fetchall()

In [22]:
data=[
    {
        'name':'Vishal',
        'subject':'Data Analyst',
    },
    {
        'name':'Anand',
        'subject':'FrontEnd',
    },
]

In [27]:
total_record=cur.execute("select * from data")
for i in data:
    total_record+=1
    v=list(i.values())
    print(v)
    v.insert(0,total_record)
    print(v)
    d=tuple(v)
    query=f'''insert into data(id,name,subject)values{d}'''
    print(query)

['Vishal', 'Data Analyst']
[4, 'Vishal', 'Data Analyst']
insert into data(id,name,subject)values(4, 'Vishal', 'Data Analyst')
['Anand', 'FrontEnd']
[5, 'Anand', 'FrontEnd']
insert into data(id,name,subject)values(5, 'Anand', 'FrontEnd')

In [34]:
name=input('Enter Your Name: ')
subject=input('Enter Your Subject: ')
name=name.title()
subject=subject.upper()
query=f'''insert into data(id,name,subject)values('4','{name}','{subject}')'''
cur.execute(query)
db.commit()

Enter Your Name: lokesh  gehlot
Enter Your Subject: php

In [41]:
cur.execute("select * from data")

6

In [42]:
da=cur.fetchall()

In [51]:
ka=set(da)

In [55]:
f=set()
for  i in ka:
    f.add(i[0])
print(f)

{1, 2, 3, 4}

In [56]:
db.commit()