In [2]:
import sqlite3 as sql

In [3]:
db=sql.connect('newdatabasesql.db')

In [4]:
cur=db.cursor()

In [5]:
cur.execute("create table data(id int, name varchar(25), address varchar(25))")

In [12]:
cur.execute("select * from data")

In [8]:
cur.fetchall()

[]

In [9]:
cur.execute("insert into data values(1,'Naresh','Pali')")

In [10]:
cur.fetchall()

[]

In [11]:
db.commit()

In [13]:
cur.fetchall()

[(1, 'Naresh', 'Pali')]

In [16]:
cur.execute("insert into data values(2,'nishad','Ahmedabad')")

In [25]:
newdata=[
    {
        'id':3,
        'name':'Jaymiskin',
        'address':'ahmedabad',
    },
    {
        'id':4,
        'name':'Abhimiskin',
        'address':'ahmedabad',
    }
]

In [26]:
for i in newdata:
    print(i)

{'id': 3, 'name': 'Jaymiskin', 'address': 'ahmedabad'}
{'id': 4, 'name': 'Abhimiskin', 'address': 'ahmedabad'}

In [29]:
for i in newdata:
    for k in i:
        print(k,i[k])

id 3
name Jaymiskin
address ahmedabad
id 4
name Abhimiskin
address ahmedabad