In [ ]:
a=input('Enter your first name: ')
b=input('Enter your middle name: ')
c=input('Enter your last name: ')
s=input('Enter your subject name: ')
if s=='python':
  print(f'hello Mr. {a} {b} {c} you are student of python, your faculty name is Mr Kapil Jangid')
else:
  print('try another subject')

In [ ]:
k=[5,8,9,20,51,5,6,5,8,4,5,2,4,]
s=[]
for i in k:
    if i not in s:
        s.append(i)
else:
    print(s)

In [ ]:
k=[]
s=0
for i in k:
    s+=0
    if s==0:
        print("list is empty")
    else:
        print('list is not empty')

In [ ]:
s=[4,8,95,3,6,4,2]
k=[5,4,8,6,5,2,3]
for k in s:
    print(k)

In [ ]:
mylist = ["a]
mylist = list(dict.fromkeys(mylist))
print(mylist)

In [11]:
s=[4,5,6,9,8,5]
n=0
s.sort()
for i in range(1,len(s)):
    n=n+s[i]
else:
    print(s[-1])

9

In [13]:
#reverses a string if its length is a multiple of 4.
s=input('Enter something here: ')
k=len(s)
if k % 4 == 0:
    print(s[::-1])
    
else:
    print('try again with other value')

Enter something here: fdsss
try again with other value

In [4]:
m='naresh'

In [10]:
m[]

'nares'

In [19]:
s='naresh'
k=len(s)
if k > 2:
    print(s[:2]+s[-2:])
else:
    pass

nash

In [21]:
# replace 'not poor' to 'good'
a=input('Enter Something here: ')
k=a.replace('not poor','good')
print(k)

Enter Something here: naresh is not poor
naresh is good

In [27]:
k='naresh'
m='kumar'
print(m[:2]+k[2:])
print(k[:2]+m[2:])

kuresh
namar

In [32]:
k=input()
m=input()
l=' '
print(m[:2]+ l +k[2:])
print(k[:2]+ l +m[2:])

naresh
kumar
ku resh
na mar

In [39]:
s=7
n=1
sum=0
while n<=s:
    sum=sum+n
    print(sum)
    n+=1

1
3
6
10
15
21
28

In [51]:
a=10
b=0
c=1
for i in range(2, a):
    d=b+c
    b=c
    c=d
    print(d)

1
2
3
5
8
13
21
34

In [52]:

a=int(input())
b=0
c=1
for i in range(2, a):
    d=b+c
    b=c
    c=d
    print(d)

8
1
2
3
5
8
13

In [66]:
k='nareshkumar'
s={}
for i in k:
    r = count (i)
    if r>1:
        pass
    else:
        print(r)

NameError: name 'count' is not defined

In [74]:
a='hello world'
a.count('l')

3

In [78]:
# Fibonacci series of given range.
a=int(input())
b=0
c=1
for i in range(a):
    d=b+c
    b=c
    c=d
    print(d)

17
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

In [80]:
a=int(input())
b=1
c=1
for i in range(a):
    d=b*c
    b=c
    c=d
    print(d)

4
1
1
1
1