In [1]:
import sqlite3 as sql

In [2]:
db=sql.connect('mypythondata.db')

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table jaymiskin(id int, name varchar(25),place varchar(25))")

In [5]:
cur.execute("insert into jaymiskin values('1','Naresh','Rani')")

In [6]:
db.commit()

In [8]:
cur.execute("select * from jaymiskin")

In [9]:
cur.fetchall()

[(1, 'Naresh', 'Rani')]

In [10]:
data=[
    {
        'id':'2',
        'name':'Jay',
        'place':'Maninagar'
    },
    {
        'id':'3',
        'name':'Nishad',
        'place':'Maninagar'
    },
]

In [11]:
for i in data:
    print(i)

{'id': '2', 'name': 'Jay', 'place': 'Maninagar'}
{'id': '3', 'name': 'Nishad', 'place': 'Maninagar'}

In [13]:
for i in data:
    for k in i:
        print(k)

id
name
place
id
name
place

In [14]:
for i in data:
    for k in i:
        print(k,i[k])

id 2
name Jay
place Maninagar
id 3
name Nishad
place Maninagar

In [16]:
for i in data:
    for k in i:
        print(i[k])

2
Jay
Maninagar
3
Nishad
Maninagar

In [17]:
cur.execute("update jaymiskin set name='nishad mehta' where id=1")

In [18]:
cur.execute('select * from jaymiskin')

In [19]:
db.commit()

In [20]:
cur.execute('select * from jaymiskin')

In [21]:
cur.fetchall()

[(1, 'nishad mehta', 'Rani')]

In [3]:
import pymysql as sql

In [4]:
cur.execute("update jaymiskin set name='Jay' where id=1")

NameError: name 'cur' is not defined

In [5]:
db.commit()

NameError: name 'db' is not defined

In [31]:
cur.execute("select * from jaymiskin")

In [32]:
cur.fetchall()

[(1, 'Jay', 'Rani')]

In [6]:
import sqlite3 as sql

In [7]:
db=sql.connect('newdata235.db')

In [16]:
cur=db.cursor()

In [11]:
cur.execute("create table abhishek2(id int, name varchar(25),place varchar(30))")

In [12]:
cur.execute("insert into abhishek2 values('1','Naresh','Rani Station')")

In [11]:
db.commit()

In [13]:
cur.execute("select * from abhishek2")

In [14]:
cur.fetchall()

[(1, 'Naresh', 'Rani Station')]

In [14]:
cur.execute("insert into abhishek values(2,'Jay','Ahmedabad')")

In [15]:
db.commit()

In [16]:
cur.execute('select name from abhishek')

In [17]:
cur.fetchall()

[('Naresh',), ('Jay',)]

In [19]:
cur.execute("update abhishek set name='Rahul' where id=2")

In [20]:
db.commit()

In [28]:
cur.fetchall()

[(1, 'Naresh Sisodiya', 'Rani Station'), (2, 'Rahul', 'Ahmedabad')]

In [26]:
cur.execute("update abhishek set name='Naresh Sisodiya' where id=1")

In [29]:
cur.execute('delete from abhishek where id=2')

In [30]:
cur.execute("Select * from abhishek")

In [31]:
cur.fetchall()

[(1, 'Naresh Sisodiya', 'Rani Station')]

In [32]:
cur.execute('delete from abhishek where id=1')

In [33]:
cur.execute("select * from abhishek")

In [34]:
cur.fetchall()

[]

In [36]:
cur.execute("insert into abhishek values(1,'Naresh','Rani Rajasthan')")

In [37]:
cur.execute("Select * from abhishek")

In [38]:
cur.fetchall()

[(1, 'Naresh', 'Rani Rajasthan')]

In [40]:
cur.execute("update abhishek set name='Naresh Sisodiya' where id=1")

In [23]:
cur.execute(" select * from abhishek")

In [22]:
cur.fetchall()

[(1, 'Naresh', 'Rani Station'),
 (2, 'Rahul', 'Ahmedabad'),
 (1, 'Naresh', 'Rani Station')]

In [25]:
cur.execute("insert into abhishek2 values(2,'Kailash','Vingarla')")

In [26]:
cur.execute("Select * from abhishek")

In [27]:
cur.fetchall()

[(1, 'Naresh', 'Rani Station'),
 (2, 'Rahul', 'Ahmedabad'),
 (1, 'Naresh', 'Rani Station')]

In [32]:
[ * range (1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
cr=open('newfile.txt','w')

In [35]:
cr.readable()

False

In [36]:
cr.writable()

True

In [37]:
cr.write('New data added ')

15

In [38]:
cr.close()

In [42]:
cr=open('newfile.txt','r+')

In [43]:
cr.read()

'New data added '

In [44]:
cr.write('\n New line added')

16

In [45]:
cr.read()

''

In [46]:
cr.seek(0)

0

In [47]:
cr.read()

'New data added \n New line added'

In [48]:
cr.seek(0)

0

In [49]:
cr.readline()

'New data added \n'

In [50]:
cr.readline()

' New line added'

In [51]:
class Naresh():
    def ramesh():
        return 'Naresh is Good Boy'

In [52]:
class Rahul(Naresh):
    def karan():
        return 'karan is good boy'

In [56]:
db=Rahul

In [57]:
db.karan

In [61]:
print(db.ramesh)

<function Naresh.ramesh at 0x000002D9E94F24C0>

In [62]:
db.ramesh

In [63]:
db.karan()

'karan is good boy'

In [64]:
db.ramesh()

'Naresh is Good Boy'

In [65]:
cr=Naresh

In [66]:
cr.ramesh()

'Naresh is Good Boy'

In [68]:
cr.karan()

AttributeError: type object 'Naresh' has no attribute 'karan'

In [74]:
class Add():
    def __init__ (self,a,b):
        return (a+b)

In [75]:
r=Add

In [76]:
r

__main__.Add

In [78]:
r('5','8')

TypeError: __init__() should return None, not 'str'