In [1]:
import sqlite3 as sql

In [2]:
db=sql.connect('newdatabase.db')

In [4]:
cur=db.cursor()

In [7]:
cur.execute('''create table users(id, name varchar(25),subject varchar(25))''')

In [8]:
cur.execute('''insert into users(Id,Name,Subject)values(1,'Naresh','Python')''')

In [9]:
db.commit()

In [10]:
cur.execute("select * from users")

In [11]:
cur.fetchall()

[(1, 'Naresh', 'Python')]

In [12]:
cur.fetchall()

[]

In [14]:
data=[
    {
    'Id':2,
    'Name':"Jay",
    'subject':"Python",
    },
    {
    'Id':3,
    'Name':"Nishad",
    'subject':"PHP",
    }
]

In [15]:
for i in data:
    print(i)

{'Id': 2, 'Name': 'Jay', 'subject': 'Python'}
{'Id': 3, 'Name': 'Nishad', 'subject': 'PHP'}

In [28]:
for i in data:
    new=tuple(i.values())
    query=f'''insert into users(Id,Name,Subject) values{new}'''
    cur.execute(query)
    print(query)
db.commit()

insert into users(Id,Name,Subject) values(2, 'Jay', 'Python')
insert into users(Id,Name,Subject) values(3, 'Nishad', 'PHP')

In [29]:
cur.execute("select * from users")

In [30]:
cur.fetchall()

[(1, 'Naresh', 'Python'), (2, 'Jay', 'Python'), (3, 'Nishad', 'PHP')]