In [1]:
import sqlite3 as sql

In [2]:
db=sql.connect('mypythondata.db')

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table jaymiskin(id int, name varchar(25),place varchar(25))")

In [5]:
cur.execute("insert into jaymiskin values('1','Naresh','Rani')")

In [6]:
db.commit()

In [8]:
cur.execute("select * from jaymiskin")

In [9]:
cur.fetchall()

[(1, 'Naresh', 'Rani')]

In [10]:
data=[
    {
        'id':'2',
        'name':'Jay',
        'place':'Maninagar'
    },
    {
        'id':'3',
        'name':'Nishad',
        'place':'Maninagar'
    },
]

In [11]:
for i in data:
    print(i)

{'id': '2', 'name': 'Jay', 'place': 'Maninagar'}
{'id': '3', 'name': 'Nishad', 'place': 'Maninagar'}

In [13]:
for i in data:
    for k in i:
        print(k)

id
name
place
id
name
place

In [14]:
for i in data:
    for k in i:
        print(k,i[k])

id 2
name Jay
place Maninagar
id 3
name Nishad
place Maninagar

In [16]:
for i in data:
    for k in i:
        print(i[k])

2
Jay
Maninagar
3
Nishad
Maninagar

In [17]:
cur.execute("update jaymiskin set name='nishad mehta' where id=1")

In [18]:
cur.execute('select * from jaymiskin')

In [19]:
db.commit()

In [20]:
cur.execute('select * from jaymiskin')

In [21]:
cur.fetchall()

[(1, 'nishad mehta', 'Rani')]

In [22]:
import pymysql as sql

In [29]:
cur.execute("update jaymiskin set name='Jay' where id=1")

In [30]:
db.commit()

In [31]:
cur.execute("select * from jaymiskin")

In [32]:
cur.fetchall()

[(1, 'Jay', 'Rani')]