In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [3]:
for i in range(1,11):
    print(4*i)

4
8
12
16
20
24
28
32
36
40

In [8]:
n=4
for i in range(1,11):
    print(f'{n} * {i} = {n*i}')

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [9]:
n

4

In [10]:
n

4

In [11]:
print(n)

4

In [12]:
n=4

In [13]:
n

4

In [14]:
i =1
while i<11:
    print(i*4)
    i+=1

4
8
12
16
20
24
28
32
36
40

In [18]:
i=1
while i<11:
    if i%2==0:
        print(i)
    else:
        pass
    i+=1

2
4
6
8
10

In [22]:
c=0
string='Hello How Are you'
f='o'
for i in string:
    if i==f:
        c+=1
        
else:
    print(c)

3

In [106]:
for i in range(12):
    print("*"*i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * * *

In [40]:
for i in range(10,0,-1):
    print(" *"*i)
for i in range(11):
    print(" *"*i)

 * * * * * * * * * *
 * * * * * * * * *
 * * * * * * * *
 * * * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [85]:
n=11
for i in range(n):
    print("  "*(10-i)+ "*"*i)
for i in range(n):
    print("  "*(i)+"*"*(10-i))

                  *
                **
              ***
            ****
          *****
        ******
      *******
    ********
  *********
**********
**********
  *********
    ********
      *******
        ******
          *****
            ****
              ***
                **
                  *

In [90]:
for i in range(1,10):
    print(" "*(10-i)+" *"*i)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

In [101]:
for i in range(1,10):
    print(" "*(10-i)+" *"*i)
for i in range(10):
    print(" "*i+" *"*(10-i))

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [115]:
for i in range(10):
    print(""*i +"*"*(10-i))

**********
*********
********
*******
******
*****
****
***
**
*

In [9]:
n1=int(input())
n2=int(input())
if (n2>n1):
    n3=n1%n2
    if n3!=0:
        n1=n2
        n2=n3
        n3=n1%n2
        print(n2)
else:
    n3=n2%n1
    print(n3)
    if n3!=0:
        n1=n2
        n2=n3
        n3=n1%n2
        print(n2)

50
40
40
40

In [4]:
n1=n2
n2=n3
n3=n2%n1
print(n1,n3,n2)

10 0 0

In [14]:
n1=int(input())
n2=int(input())
print("before swaping n1 is",n1,'n2 is',n2)
n1=n1-n2
n2=n1+n2
n1=n2-n1
print("after swaping n1 is",n1,'n2 is',n2)

10
15
before swaping n1 is 10 n2 is 15
after swaping n1 is 15 n2 is 10

In [15]:
n1=int(input())
n2=int(input())
print("before swaping n1 is",n1,'n2 is',n2)
n3=n1
n1=n2
n2=n3
print("after swaping n1 is",n1,'n2 is',n2)

10
12
before swaping n1 is 10 n2 is 12
after swaping n1 is 12 n2 is 10

In [19]:
n1=int(input())
n2=int(input())
n3=n1.__add__(n2)
print(n3)

1
5
6

In [20]:
s=input()
d='k'
k=s.count(d)
print(k)

naresh kumar kaik
3

In [23]:
s=input()
d=s[::-1]
if s==d:
    print('yes')
else:
    print('not')

madam
yes

In [26]:
s=input()
s=s.split(' ')[::-1]
s=' '.join(s)
print(s)

naresh kumar
kumar naresh

In [32]:
s='naresh kumar'
s=s.split(' ')
print(s)
print(type(s))
# s=s.reverse()
print(s)

['naresh', 'kumar']
<class 'list'>
['naresh', 'kumar']

In [48]:
print(dir(s))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [55]:
d=[5,1,2,5,6,8,5]

In [56]:
d.reverse()

In [57]:
d

[5, 8, 6, 5, 2, 1, 5]